<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/logs"/>
  
  <targets>
    <target name="console" xsi:type="ColoredConsole"
            layout="${longdate} ${level:uppercase=true:padding=-5} ${logger:shortName=true} ${message} ${exception:format=tostring}" />
    
    <target name="file" xsi:type="File"
            fileName="${logDirectory}/app-${shortdate}.log"
            layout="${longdate} ${level:uppercase=true:padding=-5} ${logger} ${message} ${exception:format=tostring}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30" />
    
    <target name="errorFile" xsi:type="File"
            fileName="${logDirectory}/errors-${shortdate}.log"
            layout="${longdate} ${level:uppercase=true:padding=-5} ${logger} ${message} ${exception:format=tostring,Data:maxInnerExceptionLevel=10}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>
